{% load static %}
<link rel="stylesheet" href="{% static 'vendor/bootstrap-4/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/datatable/datatables.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/jquery-ui/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/jquery-ui/jquery-ui.structure.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/jquery-ui/jquery-ui.theme.min.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">